body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile {
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #333;
}

.status {
  font-size: 18px;
  color: #bbb;
  margin-top: 10px;
  font-style: italic;
}

.links {
  margin-top: 20px;
}

.links a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.links a:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.links a:active {
  transform: translateY(0);
}

/* Estilos específicos para cada link */
.links a.spotify {
  background-color: #1DB954;
}

.links a.spotify:hover {
  background-color: #1ED760;
}

.links a.soundcloud {
  background-color: #FF5500;
}

.links a.soundcloud:hover {
  background-color: #FF7700;
}

.links a.discord {
  background-color: #391fa9;
}

.links a.discord:hover {
  background-color: #2a42cb;
}

.links a.other {
  background-color: #008CBA;
}

.links a.other:hover {
  background-color: #00A0DC;
}

.links a i {
  margin-right: 8px;
  font-size: 20px;
  vertical-align: middle;
}
